*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.anima{
    font-size: 1.2em;
    display: inline-block;
    border-right: 2px solid #000;
    padding-right:3px ;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
}

@keyframes pisca {
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever {
    100%{
        max-width: 100%;
    }
}